* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #22031b;
  --bg-header: #22031b;
  --color-white: #fff;
  --text-dates-color: #a1a1aa;
  --border-gradient: linear-gradient(
      rgba(190, 11, 253, 1),
      rgba(78, 10, 102, 1)
    )
    1;
}

body {
  background-color: var(--bg-color);
  color: var(--color-white);
  /* height: 100vh; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  width: 100%;
  background-color: var(--bg-header);
}

button {
  padding: 16px 24px;

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  color: var(--color-white);
  border-radius: 10px;
  background-color: transparent;

  border: 3px solid #700d85;
  /* border-image: var(--border-gradient); */

  transition: all 0.3s;
}

button:hover {
  background: #4c0251;
  cursor: pointer;
  border: 3px solid #4c0251;
  --webkit-transform: scale(1.1);
  transform: scale(1.1);
}

form {
  display: flex;

  padding: 182px 48px 48px;
  /* encaixar o conteúdo na largura */
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 118px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.habit .text-place {
  width: 118px;
  height: 64px;
  border: 4px solid #330636;
  border-radius: 8px;
  padding: 5px;

  transition: all 0.5s;
}

.text-place:hover {
  --webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.text-place {
  font-family: "Inter";
  font-size: 14px;
  line-height: 18.5px;
  text-align: center;
  color: var(--text-dates-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 100px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  margin-bottom: 8px;

  color: var(--text-dates-color);
}

input {
  appearance: none;
  --webkit-appearance: none;

  width: 64px;
  height: 64px;

  border: 2px solid #170031;
  border-radius: 8px;

  background: #200a39;
}

/* pseudo-selector */
input:checked {
  background: #820079;
  border: 2px solid #cd01c0;
}

/* popup do button */
.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

.popup {
  background: #500041;
  color: #fff;
  font-family: "Inter";
  text-align: center;

  width: 500px;
  height: 200px;
  padding: 20px;
  border-radius: 30px;
   position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup a {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  background: #820079;
  border-radius: 30px;
  width: 400px;
  height: 45px;

  margin: auto;
  margin-top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-close {
  text-align: center;
  border-radius: 50px;
  color: #c0bec0;
  font-size: 15px;
  background-color: #cd01c0;
  border: 2px solid #820079;

  width: 30px;
  height: 25px;

  position: absolute;
  top: 5px;
  right: 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
}

.popup-close:hover {
  --webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(112, 110, 110);
}

/* responsividade @ rule */
@media (max-width: 570px) {
  button div {
    display: none;
  }
}

@media (max-width: 570px) {
  .popup {
    font-size: 12px;
    width: 350px;
    height: 200px;
  }
  .popup a {
    font-size: 15px;

    width: 250px;
    height: 35px;
  }
  .popup-close {
    font-size: 12px;

    margin-top: 5px;
    width: 25px;
    height: 20px;
  }
}
